<!-- -*- mode: XML -*- -->

<launch>
    <node name="dynamixel_manager" pkg="dynamixel_controllers" ns="/corin" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                dynamixel_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 40
                    update_rate: 20
        </rosparam>
    </node>

    <rosparam file="$(find mcorin_dxl)/src/config/legs_controller.yaml" command="load"/>

    <!-- Start leg controllers -->
    <node name="leg_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" ns="/corin"
          args="--manager=dxl_manager
                --port dynamixel_port
                lf_q1_controller lf_q2_controller"
          output="screen"/>


</launch>
