<launch>

  <!-- Launch file to run gazebo and spawn the robot -->
  <!-- Run in terminal: roslaunch corin_gazebo corin_world.launch <arg name>:=<value_name> --> 
  <!-- arg to run is optional, include or exclude as required -->
  <!-- For robot to retain its default standing up position, launch joint control file then enable physics -->

  <!-- launch file arguments -->              
  <arg name="fixed" default="false"/>         <!-- robot fixed in place -->
  <arg name="paused" default="true"/>         <!-- pause the physics engine -->
  <arg name="use_sim_time" default="true"/>   <!-- use simulation time -->
  <arg name="debug" default="false"/>         <!-- debug mode -->
  <arg name="gui" default="true"/>            <!-- enable gazebo gui -->
  <arg name="world" default="empty" />        <!-- world to use -->
  <arg name="x" default="0"/>                 <!-- robot spawn position in world x-axis -->
  <arg name="y" default="0"/>                 <!-- robot spawn position in world y-axis -->
  <arg name="z" default="0.11"/>              <!-- robot spawn position in world z-axis -->
  <arg name="tdelay" default="5.0"/>          <!-- delay before setting robot pose -->

  
  <!-- Get robot to 0 position -->
  <node name="goto0" pkg="corin_gazebo" type="robot_default" output="screen" args="-t $(arg tdelay) -m $(arg world) -x $(arg x) -y $(arg y) -z $(arg z)" />
  <!-- <node name="goto0" pkg="corin_gazebo" type="robot_default" output="screen" args="-t $(arg tdelay)" /> -->
</launch>
