<!-- -*- mode: XML -*- -->

<launch>
    <node name="dynamixel_manager" pkg="dynamixel_controllers" ns="/corin" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                dynamixel_port:
                    port_name: "/dev/ttyACM0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 40
                    update_rate: 20
        </rosparam>
    </node>

    <rosparam file="$(find corin_dxl)/src/config/legs_controller.yaml" command="load"/>

    <!-- Start leg controllers -->
    <node name="leg_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" ns="/corin"
          args="--manager=dxl_manager
                --port dynamixel_port
                lf_q1_controller lf_q2_controller lf_q3_controller
                lm_q1_controller lm_q2_controller lm_q3_controller
                lr_q1_controller lr_q2_controller lr_q3_controller
                rf_q1_controller rf_q2_controller rf_q3_controller
                rm_q1_controller rm_q2_controller rm_q3_controller
                rr_q1_controller rr_q2_controller rr_q3_controller"
          output="screen"/>


</launch>
