<?xml version="1.0" ?>
<launch>

	<arg name="robotis" default="false"/>
	<arg name="sensors" default="true"/>
	<arg name="gui" default="false"/> 		<!-- True: manual control   False: real sensor -->
	<arg name="rviz_conf" default="$(find corin_description)/rviz/grid_map.rviz"/>
	<arg name="fixed" default="false"/>
	<arg name="offset_x" default="0.33"/>
	<arg name="offset_y" default="0.39"/>
	<arg name="offset_z" default="0"/>

	<!-- load robot -->
	<!-- Load the URDF into the ROS Parameter Server -->
  	<param name="robot_description"
   	 	command="$(find xacro)/xacro --inorder '$(find corin_description)/robots/Corin_fixed.urdf.xacro'" if="$(arg fixed)"/>
   	<param name="robot_description"
   	 	command="$(find xacro)/xacro --inorder '$(find corin_description)/robots/Corin_model.urdf.xacro'" unless="$(arg fixed)"/>
	<param name="publish_frequency" value="400" /> <!-- Hz -->

	<!-- publish the joint and robot states -->
	<group if="$(arg gui)">
		<node name="joint_state_publisher" pkg="joint_state_publisher"
			type="joint_state_publisher" respawn="true" >
			<param name="use_gui" value="$(arg gui)"/>
			<param name="rate" value="400"/>
		</node>
	</group>

	<!-- Robot joint states publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher"
		type="state_publisher" respawn="true">
		<param name="publish_frequency" value="400" />
		<param name="rate" value="400" />
		<remap from="/joint_states" to="/robotis/present_joint_states" if="$(arg robotis)"/> 	<!-- interfacing to robotis -->
		<remap from="/joint_states" to="/corin/joint_states" unless="$(arg robotis)"/> 			<!-- interfacing to gazebo or rviz -->
	</node>

	<!-- Robot base pose publisher -->
	<node name="robot_pose_publisher" pkg="corin_description" type="robot_publisher.py" output="screen" 
		args="$(arg offset_x) $(arg offset_y) $(arg offset_z)"/>

	<!-- load displays -->
	<param name="use_gui" value="true"/>
	<node name="rviz" pkg="rviz" type="rviz" output="screen" required="true" args="-d $(arg rviz_conf) -f world" />

	<!-- Friction Cone Visualizer -->
	<node name="cone_viz" pkg="cone_visual" type="cone_visual_node" output="screen"/>
</launch>
