<launch>

   <!-- Load joint controller configurations from YAML file to parameter server -->
  <!-- <rosparam file="$(find mcorin_control)/config/leg_position_controller.yaml" command="load"/> -->
  <rosparam file="$(find mcorin_control)/config/fixed_position_controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/corin" args="joint_state_controller  
    lf_q1_controller lf_q2_controller lf_q3_controller
    lm_q1_controller lm_q2_controller lm_q3_controller
    lr_q1_controller lr_q2_controller lr_q3_controller
    rf_q1_controller rf_q2_controller rf_q3_controller
    rm_q1_controller rm_q2_controller rm_q3_controller
    rr_q1_controller rr_q2_controller rr_q3_controller   
    base_qx_controller"/>
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/mcorin/joint_states" />
  </node> -->

  <node name="joint_state_service" pkg="mcorin_control" type="jointStateServer" output="screen" />

</launch>